/*  Created by Dallen Corry
*   Projet Name: Tasty Recipe Meal Generator
*   Date: 8/31/2024
*   Version: 0.1.0*/

/*CSS Reset*/
body, header, nav, main, footer, h1, div, img {
    margin: 0; 
    padding: 0;
    border: 0; 
}

body {
    background-color: #000;
    /* font-family: 'Nabla', cursive; */
    color:  #fff;
}

header {
    top: 0;
    background-color: #000;
    color: #fff;
    height: 190px;
}

nav ul {
    list-style-type: none; 
    text-align: center;
}

nav li {
    display: inline-block;
    padding: 0 3%;
}

nav li a {
    border-top: none;
    display: block;
    text-decoration: none;
    color: #fff;
}

main {
    background-color: #fff;
    color: #500;
    padding: 2%;
    font-size: 1.15em;
    font-family: 'Roboto Slab', serif;
}

footer p {
    font-size: 0.75em;
    text-align: center;
    color: #fff;
    padding: 0.1em;
}

footer p a {
    color:#fff;
}

table {
    border: 1px solid #000;
    border-collapse: collapse;
    margin: 0 auto;
    width: 100%;
}

th, td {
    border: 1px solid #000;
    padding: 2%;
}

th {
    background-color: #000;
    color: #fff;
    font-size: 1.15em;
}

tr:nth-child(odd) {
    background-color: #ccc;
}